<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956968275526-2jo747khk5binvrltp2pc6aodo1qnicr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956968275526-2jo747khk5binvrltp2pc6aodo1qnicr</string>
	<key>API_KEY</key>
	<string>AIzaSyA3biZQFBBk1hsE_WwzGJRLAfUVZCNK9dM</string>
	<key>GCM_SENDER_ID</key>
	<string>956968275526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevdaabbasi.newApp.mySocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>mysocialmediaappfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mysocialmediaappfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956968275526:ios:ad4ee0d58ccf1af7f78447</string>
</dict>
</plist>